<ion-content [fullscreen]="true">
  <div class="rectangle"></div>
  <app-logo></app-logo>

  <div class="profile-container">
    <p class="profile-name">{{ user.firstname }} {{ user.lastname }}</p>
    <p class="profile-rol">
      {{ (user.role === 'USER_ROLE') ? 'Trabajador': 'Administrador' }}
    </p>
  </div>

  <ng-container *ngFor="let option of options; let i = index">
    <app-section
      *ngIf="(i === 1 && user.role === 'ADMIN_ROLE') || i !== 1"
      [titleContent]="option.titleContent"
      [imgUrl]="option.imgUrl"
      [description]="option.description"
      (click)="doSomething(i)"
    ></app-section>
  </ng-container>
</ion-content>
