<ion-content [fullscreen]="true">
  <div class="rectangle"></div>
  <app-logo></app-logo>

  <div class="profile-container">
    <p class="profile-name">Nombre Apellido</p>
    <p class="profile-rol">Administrador</p>
  </div>
  <div class="img-container">
    <img src="assets/user.png" alt="" />
  </div>
  <app-section titleContent="Perfil"></app-section>

  <div class="img-container">
    <img src="assets/setting.png" alt="" />
  </div>
  <app-section titleContent="Administrar"></app-section>

  <div class="img-container">
    <img src="assets/web.png" alt="" />
  </div>
  <app-section titleContent="Ir a TallerPrincipal.cl"></app-section>

  <div class="img-container">
    <img src="assets/help.png" alt="" />
  </div>
  <app-section titleContent="Ayuda"></app-section>
</ion-content>
