ion-item {
    width: 100vw;
    --background: rgba(#000000, 0.4);
    background: rgba(#000000, 0.4);
    margin-bottom: 1vh;

    ion-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 85%;
            opacity: .6;
        }
    }

    ion-label {

        h3,
        p {
            font-family: 'Lato', sans-serif;
            font-size: 2.3vh;
            color: #ffffff;
        }

        p {
            font-size: 2vh;
            color: rgba(#ffffff, 0.7);
        }
    }
}